{% extends 'base.html' %}
{% block content %}
<!-- <div class="chart-container" style="position: relative; height:40vh; width:80vw">
<canvas id="myChart"></canvas>
</div> -->
<div class="row container center-align ">
	<div class="col s12">
    	<iframe
			style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
			width="800" height="480" src="https://charts.mongodb.com/charts-project-0-lygfb/embed/charts?id=d52bd9b5-8eed-42b7-ad6b-4c08cfe2e540&theme=light"></iframe>
	</div>
</div>	
<div class="row container center-align ">
	<div class="col s12">
		<iframe
			style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
			width="800" height="480"
			src="https://charts.mongodb.com/charts-project-0-lygfb/embed/charts?id=d5826d25-0fb3-4813-9cb2-31f374113a47&theme=light"></iframe>
	</div>
</div>
{% endblock %}